<div class="modular-row specialties {{ page.header.class }}">
    {{ content }}
    <div class="specialty-items">
    {% for specialty in page.header.specialties %}
           <div class="specialty" >
            {% if specialty.icon %}
            <i class="fa fa-fw fa-{{ specialty.icon }}"></i>
            <div class="specialty-content icon-offset">
            {% else %}
            <div class="specialty-content" style="background-image: url(  user/pages/images/{{ specialty.image }} );">
            {% endif %}
            {% if specialty.header %}
            <h4>{{ specialty.header }}</h4>
            {% endif %}
            {% if specialty.text %}
            <p>{{ specialty.text }}</p>
            {% endif %}
            {% if specialty.link %}
            <a href="http://{{ specialty.link }}"<p>{{ specialty.linktext }}</p></a>
            {% endif %}
            </div>
        </div>
    {% endfor %}
    </div>
</div>
